
.Rproj.user/C10A28B8/pcs/packages-pane.pper
.Rproj.user/C10A28B8/pcs/source-pane.pper
.Rproj.user/C10A28B8/pcs/windowlayoutstate.pper
.Rproj.user/C10A28B8/pcs/workbench-pane.pper
.Rproj.user/C10A28B8/rmd-outputs
.Rproj.user/C10A28B8/saved_source_markers
.Rproj.user/C10A28B8/viewer-cache/11230CE4.Rdata
.Rproj.user/C10A28B8/viewer-cache/735D0897.Rdata
.Rproj.user/C10A28B8/viewer-cache/7811EC13.Rdata
.Rproj.user/C10A28B8/viewer-cache/9CA77567.Rdata
.Rproj.user/C10A28B8/viewer-cache/D840CB17.Rdata
.Rproj.user/C10A28B8/pcs/debug-breakpoints.pper
.Rproj.user/C10A28B8/pcs/files-pane.pper
